@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body{
    background-color: black;
    padding: 20px 100px;
}

header .logo{
    width: 180px;
}

.logo img{
    width: 100%;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav{
    display: flex;
    gap: 20px;
}

nav a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px;
}

nav a:hover{
    color: rgb(191, 197, 0);
}

img{
    width: 100%;
}

@media screen and (max-width: 1660px){
}

@media screen and (max-width: 1440px){
}

@media screen and (max-width: 1280px){
}

@media screen and (max-width: 992px){
}

@media screen and (max-width: 548px){
}