.items{
    width: 200px;
    height: 200px;
    background-color: red;
    /* transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
    transition-delay: 1s; */
    /* transition: width 2s ease-in-out, height 2s ease-in-out 2s, background-color 2s ease-in-out 4s; */
    transition: all 2s ease-in-out;
}

.items:hover{
    width: 400px;
    height: 400px;
    background-color: blue;
}