:root{
    --primary-color: red;
    --secondary-color: blue;
}


*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #0E0E0E;
    font-family: Arial, sans-serif;
}

header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 80px;
    animation-name: headerAnimation;
    animation-duration: 1s;
    
}

header .logo{
    color: white;
    font-size: 28px;
}

header nav ul{
    display: flex;
    gap: 18px;
    list-style: none;
}

nav a{
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.mainSection{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 62px);
}

.mainSecCont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    animation-name: mainSecAnimation;
    animation-duration: 1s;
}

.mainSection h1{
    font-size: 48px;
    color: var(--primary-color);
    animation-name: headingAnimation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 1s;
}

.mainSection p{
    color: white;
    text-align: center;
    font-size: 20px;
    line-height: 1.6;
}

.mainSection button{
    color: black;
    background-color: var(--primary-color);
    outline: none;
    border: none;
    font-size: 20px;
    font-weight: 600;
    padding: 12px 25px;
    border-radius: 999px;
    transition: all 0.4s ease-in-out;
}

.mainSection button:hover{
    transform: scale(1.2);
    background-color: var(--secondary-color);
}

@keyframes headerAnimation {
    from{opacity: 0.2; transform: translateY(-62px);}
    to{opacity: 1;}
}

@keyframes mainSecAnimation {
    from{
        opacity: 0.1;
        transform: translateY(100px)
    }
    to{
        opacity: 1;
    }
}

@keyframes headingAnimation {
    from{
        color: var(--primary-color);
        text-shadow: 0 0 10px var(--primary-color);
    }
    to{
        color: var(--secondary-color);
        text-shadow: 5px 5px 10px var(--secondary-color);
    }
}