*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: 100vh;
    /* background-color: red; */
    /* background-image: url("nature.jpg");
    background-repeat: no-repeat;
    background-position: center center; */
    /* background: red url("nature.jpg") no-repeat center;
    background-size: cover; */
    background-image: linear-gradient(17deg, red, orange, yellow, blue);
}