/* h1{
    color: red;
    background-color: blue;
} */


/* *{
    color: red;
} */

/* h1, h2{
    color: blue;
} */

/* p.note{
    color: red;
} */

/* #top{
    color: red;
} */

/* li > a{
    color: red;
} */

/* li a{
    color: red;
} */

/* h1+p{
    color: red;
} */

/* h1~p{
    color: red;
} */