@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root{
    --neutral-gray: #717171;
    --neutral-d-gray: #4D4D4D;
    --primary-color: #4CAF4F;
    --neutral-silver: #F5F7FA;
}

*{
    margin: 0;
    padding: 0;
}
body{
    color: var(--neutral-d-gray);
    font-family: "Inter", sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px;
}

.bannerSection{
    padding: 70px 100px;
    background-color: var(--neutral-silver);
}

.bannerSection .content .textCont h1{
    font-size: 55px;
    font-weight: 600;
    color: var(--neutral-d-gray);
    line-height: 1.2;
}

.bannerSection .content .textCont h1 span{
    color: var(--primary-color);
}

.bannerSection .content .textCont p{
    font-size: 14px;
    color: var(--neutral-gray);
}

.bannerSection .content .textCont .registerBtn{
    padding: 12px 32px;
}

header .logo{
    width: 140px;
    /* height: 80px; */
}

img{
    width: 100%;
}

header nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 18px;
}

header nav a{
    text-decoration: none;
    color: var(--neutral-d-gray);
    font-size: 16px;
    position: relative;
    padding-bottom: 5px;
    transition: all 0.4s ease-in-out;
}

header nav a::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: var(--primary-color);
    bottom: 0;
    left: 0;
    transition: all 0.4s ease-in-out;
}

header nav a:hover::after {
    width: 100%;
}

.registerBtn{
    border: none;
    outline: none;
    background-color: var(--primary-color);
    color: white;
    display: flex;
    align-items: center;
    gap: 6px;
    border-radius: 6px;
    padding: 15px 26px;
    cursor: pointer;
    /* opacity: 0.4s; */
    border: 1px solid var(--primary-color);
    transition: all 0.4s ease-in-out;
}

.registerBtn:hover{
    background-color: white;
    color: var(--primary-color);
}

.section2{
    padding: 30px 100px;
}

.section2 .headingCont h3{
    text-align: center;
    font-size: 28px;
    font-weight: 600;
}

.section2 .headingCont p{
    text-align: center;
    color: var(--neutral-gray);
    font-size: 14px;
}

.section2 .gallerySec{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.section2 .gallerySec .galleryImg{
    width: 40px;
    height: 40px;
    /* backdrop-filter: grayscale(0); */
}

.section2 .gallerySec .galleryImg img{
    filter: grayscale(1);
    transition: all 0.4s ease-in-out;
}

.section2 .gallerySec .galleryImg:hover img{
    filter: grayscale(0);
}

.section3{
    padding: 30px 100px;
}

.section3 .headingCont h3{
    text-align: center;
    font-size: 28px;
    font-weight: 600;
}

.section3 .headingCont p{
    text-align: center;
    color: var(--neutral-gray);
    font-size: 14px;
}

.section3 .sec3Body .sec3Card{
    padding: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section3 .sec3Body .sec3Card .cardImg{
    width: 45px;
}
.section3 .sec3Body{
    padding-top: 20px;
}
.section3 .sec3Body .sec3Card h6{
    /* width: 45px; */
    font-size: 24px;
    font-weight: bold;
    line-height: 1.2;   
    text-align: center;
}

.section3 .sec3Body .sec3Card p{
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
    color: var(--neutral-gray);
}

.section4{
    padding: 40px 0;
}

.section4 .sec4Cont h2{
    font-size: 32px;
    font-weight: 600;
    line-height: 1.4;
}

.section4 .sec4Cont p{
    font-size: 14px;
    line-height: 1.3;
}

.section4 .sec4Cont .registerBtn{
    padding: 12px 32px;
}

.section5{
    padding: 50px 100px;
    background-color: var(--neutral-silver);
}

.section5 .sec5Left h3{
    font-size: 32px;
    font-weight: 600;
    line-height: 1.2;
}
.section5 .sec5Left h3 span{
    color: var(--primary-color);
}

.section5 .sec5Left p{
    font-size: 14px;
    line-height: 1.2;
    color: var(--neutral-gray);
}

.section5 .sec5-rightCont .sec5-rightCard{
    display: flex;
    gap: 10px;
}

.section5 .sec5-rightCont .sec5-rightCard .cardImg{
    
}

.section5 .sec5-rightCont .sec5-rightCard .cardCont h6{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 0;
}

.section5 .sec5-rightCont .sec5-rightCard .cardCont p{
    font-size: 14px;
    color: var(--neutral-gray);
    margin-bottom: 0;
}


.section8{
    padding: 35px 100px;
}

.section8 .headingCont h3{
    text-align: center;
    font-size: 28px;
    font-weight: 600;
}

.section8 .headingCont p{
    text-align: center;
    color: var(--neutral-gray);
    font-size: 14px;
}


.section8 .sec8CardContainer .sec8Card{

}

.section8 .sec8CardContainer .sec8Card .contSec{
    padding: 20px;
    background-color: var(--neutral-silver);
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: -60px;
    position: relative;
    z-index: 3;
}

.section8 .sec8CardContainer .sec8Card .contSec p{
    font-size: 18px;
    font-weight: 600;
    line-height: 1.3;
    color: var(--neutral-gray);
    text-align: center;
}

.section8 .sec8CardContainer .sec8Card .contSec a{
    color: var(--primary-color);
    font-size: 18px;
}
.hamBurgerIcon{
    display: none;
    font-size: 20px;
}

.hamBurgerCheck:checked + label + aside{
    opacity: 1;
    transform: translateX(0);
}

.closeIcon{
    position: absolute;
    right: 10px;
    top: 10px;
}

header aside{
    position: relative;
    transform: translateX(-300px);
    position: fixed;
    z-index: 6;
    height: 100vh;
    width: 300px;
    left: 0;
    bottom: 0;
    opacity: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.4s ease-in-out;
}
header aside .logo{
    width: 140px;
    /* height: 80px; */
}

#hamBurgerCheck{
    display: none;
}

header aside .menuBtn{
    margin-bottom: 20px;
    margin-left: 20px;
}
header aside nav ul{
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: end;
    list-style: none;
    gap: 18px;
    margin-bottom: 0;
}

header aside nav{
    /* height: 100%; */
}

header aside nav a{
    text-decoration: none;
    color: var(--neutral-d-gray);
    font-size: 16px;
    position: relative;
    padding-bottom: 5px;
    transition: all 0.4s ease-in-out;
}

header aside nav a::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: var(--primary-color);
    bottom: 0;
    left: 0;
    transition: all 0.4s ease-in-out;
}

header aside nav a:hover::after {
    width: 100%;
}

/* // Screen Size 1400px check */
@media (max-width: 1660px) {

}

/* // Screen Size 1200px check */
@media (max-width: 1399px) {
    .section8 .sec8CardContainer .sec8Card .contSec {
        width: 90%;
    }
}

/* // Screen Size 992px check */
@media (max-width: 1199px) {
    header nav a {
        font-size: 14px;
    }
    header nav ul{
        margin-bottom: 0;
    }
    .registerBtn {
        font-size: 14px;
        padding: 10px 20px;
    }

    .section8 .sec8CardContainer .sec8Card .contSec p {
        font-size: 14px;
    }

    .section8 .sec8CardContainer .sec8Card .contSec a {
        font-size: 14px;
    }
}

/* // Screen Size 768px check */
@media (max-width: 991px) {
    header {
        padding: 12px 30px;
    }

    .bannerSection {
        padding: 40px 30px;
    }

    .bannerSection .content .textCont h1 {
        font-size: 40px;
    }
    .bannerSection .content .textCont .registerBtn {
        padding: 10px 30px;
    }
    .section3 {
        padding: 20px 30px;
    }
    .section2 {
        padding: 20px 30px;
    }

    .section5 {
        padding: 30px 30px;
    }

    .section5 .sec5Left h3 {
        font-size: 26px;
    }

    .section5 .sec5Left p {
        font-size: 12px;
    }

    .section5 .sec5-rightCont .sec5-rightCard .cardCont h6 {
        font-size: 18px;
    }
    .section5 .sec5-rightCont .sec5-rightCard .cardCont p {
        font-size: 10px;
    }

    .section8 {
        padding: 30px 30px;
    }

    .section8 .sec8CardContainer .sec8Card .contSec a {
        font-size: 12px;
    }

    .section8 .sec8CardContainer .sec8Card .contSec p {
        font-size: 12px;
    }

    .sec8Card .contSec {
        padding: 17px;
    }
}

/* // Screen Size 576px check */
@media (max-width: 767px) {
    header nav{
        display: none;
    }

    header aside nav{
        display: block;
    }

    header aside nav ul{
        align-items: flex-start;
    }

    header .hamBurgerIcon{
        display: block;
    }
}


/* // Screen Size All mobile check */
@media (max-width: 575px) {
    
}