/* @import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+SAS:wght@100..400&display=swap'); */
@font-face {
    font-family: Abc;
    src: url("fonts/PlaywriteDESAS-VariableFont_wght.ttf");
}

h1{
    text-align: center;
    font-family: Abc, cursive;
    /* text-align: right; */
    /* font-size: 50px; */
    text-shadow: -10px -10px 5px rgba(0, 0, 0, 0.7);
}
p{
    /* text-indent: 50px; */
    /* font-family: Abc; */
    /* font-weight: 700; */
    /* font-style: italic; */
    /* text-transform: capitalize; */
    /* line-height: 1; */
    /* text-decoration: none; */
    /* letter-spacing: 10px; */
    /* word-spacing: 20px; */
    /* vertical-align: text-top; */
    /* text-indent: 50px; */
}
/* p:first-letter{
    color: red;
} */
/* p:first-line{
    color: red;
} */
/* #imgPara{
    vertical-align: text-top;
} */

/* a:visited{
    color: gray;
}
a:link{
    color: red;
} */

button:hover{
    background-color: red;
    color: white;
}

button:active{
    background-color: blue;
    color: white;
}

input:focus{
    background-color: yellow;
}