*{
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 120px 600px;
    background-color: blue;
    /* justify-content: center; */
    /* row-gap: 30px;
    column-gap: 20px; */
    /* gap: 15px; */
}

.items{
    /* width: 200px; */
    /* height: 200px; */
    background-color: red;
    font-size: 35px;
    border: 2px solid black;
}

#item-1{
    /* grid-column-start: 1;
    grid-column-end: 3; */

    grid-column: 1 / span 2;

    /* grid-row-start: 1;
    grid-row-end: 3; */

    grid-row: 1 / span 2;
}